<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>CodeFoo :: Introduction to Ruby on Rails</title>

		<meta name="description" content="A presentation for IGN's Code Foo program on Ruby on Rails">
		<meta name="author" content="Ryan Sullivan">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="css/ign.css">
		<link rel="stylesheet" href="css/print.css" type="text/css" media="print">

		<link rel="stylesheet" href="lib/solarized_light.css">
	</head>

	<body>

		<div class="reveal">

			<!-- Used to fade in a background when a specific slide state is reached -->
			<div class="state-background"></div>

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
					<h4 class="red"><img class="logo" src="assets/images/logo.png" /> Code Foo</h4>
					<h1>Introduction to Ruby on Rails</h1>
				</section>

				<section>
					<section>
						<h1>Gems</h1>
						<h2>The ruby packages</h2>
						<img src="assets/images/ruby.png">
					</section>
					<section>
						<h2><a href="http://rubygems.org/" target="_blank">RubyGems.org</a></h2>
						<img src="assets/images/rubygems.png">
					</section>
					<section>
						<h2><a href="https://rvm.io/" target="_blank">RVM</a></h2>
						<h2>Ruby Version Manager</h2>
						<pre>
							<code class="no-highlight" contenteditable>$ rvm use --install 1.9.3
$ rvm current
ruby-1.9.3-p194
$ rvm gemdir
/Users/ryan/.rvm/gems/ruby-1.9.3-p194</code>
						</pre>
					</section>
					<section>
						<h2>RVM: Gemsets</h2>
						<pre>
							<code class="no-highlight" contenteditable>$ rvm use --install --create 1.9.3@code-foo
$ rvm current
ruby-1.9.3-p194@code-foo
$ rvm gemdir
/Users/ryan/.rvm/gems/ruby-1.9.3-p194@code-foo</code>
						</pre>
					</section>
					<section>
						<h2>.rvmrc</h2>
					</section>
					<section>
						<h2>Bundler</h2>
						<p>Gemfile:</p>
						<pre>
							<code class="ruby" contenteditable>source 'https://rubygems.org'

gem 'faraday', '~> 0.8.0'
gem 'rails', '~> 3.2.3'

# Gems used only for assets, not required in production
group :assets do
  gem 'jquery-rails', '2.0.1'
  gem 'sass-rails', '=> 3.2.3'
  gem 'therubyracer', '~> 0.10.0'
  gem 'uglifier', '>= 1.0.3'
end

group :test, :development do
  gem 'debugger'
  gem 'rspec-rails', '~> 2.10.0'
  gem 'webmock', '~> 1.8.5', :require => false
end</code>
						</pre>
						<small><p class="fragment">Running 'bundle install' will install all gems in the Gemfile, and create a Gemfile.lock that contains the specific versions installed</p></small>
					</section>
					<section>
						<h2>Bundler</h2>
						<p>Commands you should know:</p>
						<ul>
							<li>bundle install - installs all the gems in your Gemfile or Gemfile.lock</li>
							<li>bundle update [GEM_NAME] - update the gems, be careful running this as it updates all</li>
							<li>bundle exec COMMAND - executes the command within the context of the bundled gems</li>
							<li>bundle outdated - new in version 1.1, shows you which gems are out of date, and what the latest version is</li>
						</ul>
					</section>
				</section>

				<section>
					<section>
						<h1>TDD</h1>
						<h2>
							<span class="red">Red</span>
							<span style="color: green;">Green</span>
							<span style="color: yellow;">Refactor</span>
						</h2>
						<img src="assets/images/traffic.png" height="300">
					</section>
					<section>
						<h2>RSpec</h2>
						<pre>
							<code class="ruby" contenteditable>describe '#foo'
  it 'returns bar' end
    hello.should eq('bar')
  end
end</code>
						</pre>
						<pre class="fragment">
							<code class="ruby" contenteditable>def foo
  'bar'
end</code>
						</pre>
					</section>
				</section>

				<section>
					<section>
						<img src="assets/images/rails.png">
					</section>
					<section>
						<h2>MVC Framework</h2>
						<p>Model | View | Controller</p>
						<img src="assets/images/mvc_schematic.png">
					</section>
					<section>
						<h2>Creating a New Rails Project</h2>
						<ol>
							<li>
								Install the Rails Gem<br>
								<pre><code class="no-highlight" contenteditable>$ gem install rails</code></pre>
							</li>
							<li class="fragment">
								Create a New Rails Project<br>
								<pre><code class="no-highlight" contenteditable>$ rails new code-foo</code></pre>
							</li>
						</ol>
					</section>
					<section>
						<h2>Structure of a Rails Project</h2>
						<small>
							<ul>
								<li>app/ - your application code</li>
								<li>config/</li>
								<li>config.ru</li>
								<li>db/ - your database schema and database migrations</li>
								<li>doc/</li>
								<li>Gemfile, Gemfile.lock - your bundler configs</li>
								<li>lib/ - extended modules for your application</li>
								<li>log/</li>
								<li>public/ - served "as is", contains static files, and compiled assets</li>
								<li>Rakefile - contains and loads rake tasks, should add new tasks in lib/tasks</li>
								<li>README.rdoc</li>
								<li>script/ - contains various scripts related to your application</li>
								<li>test/ - default test directory, use spec/ if using RSpec</li>
								<li>tmp/</li>
								<li>vendor/ - a place for all third-party code, mostly handled through gems now</li>
							</ul>
						</small>
					</section>

					<section>
						<h2>Starting your Application Server</h2>
						<pre><code class="no-highlight" contenteditable>$ rails server</code></pre>
						You can now view your application by going to localhost:3000 in a browser
					</section>

					<section>
						<h2>Generating a Resource</h2>
						<pre><code class="no-highlight" contenteditable>$ rails generate resource article</code></pre>
						<ul class="fragment">
							<li>create_article database migration</li>
							<li>article model and associated test files</li>
							<li>articles controller and associated test files</li>
							<li>articles views directory, but no view files</li>
							<li>articles helper and associate test files</li>
							<li>articles assets (JS and CSS)</li>
							<li>adds 'resources :articles' to your config/routes.rb</li>
						</ul>
					</section>
				</section>

				<section>
					<section>
						<h1>Models</h1>
						Model your data with ActiveRecord
					</section>
					<section>
						<h2>Database Migrations</h2>
						<p>Creating a migration</p>
						<pre><code class="no-highlight">$ rails generate model Article</code></pre>
						<p>Generates: db/migrate/20120712210018_create_articles.rb</p>
						<pre><code class="ruby">class CreateArticles < ActiveRecord::Migration
  def change
    create_table :articles do |t|

      t.timestamps
    end
  end
end</code></pre>
					</section>
					<section>
						<h2>Database Migrations</h2>
						<p>Adding columns to your table</p>
						<pre><code class="ruby">class CreateArticles < ActiveRecord::Migration
  def change
    create_table :articles do |t|
      t.string :headline
      t.text :body
      t.datetime :publish_date

      t.timestamps
    end
  end
end</code></pre>
					</section>
					<section>
						<h2>Database Migrations</h2>
						<p>Modifying an existing table</p>
						<pre><code class="no-highlight">$ rails generate migration AddSubHeadlineToArticles</code></pre>
						<p>Generates: db/migrate/20120712210735_add_sub_headline_to_articles.rb</p>
						<pre><code class="ruby">class AddSubHeadlineToArticles < ActiveRecord::Migration
  def change
  end
end</code></pre>
						<div class="fragment">
							<p>Add the column</p>
							<pre><code class="ruby">class AddSubHeadlineToArticles < ActiveRecord::Migration
  def change
    t.string :sub_headline
  end
end</code></pre>
						</div>
					</section>
					<section>
						<h2>Database Migrations</h2>
						<p>Running migrations</p>
						<pre><code class="no-highlight">rake db:create         # Create the database from config/database.yml
                       # for the current Rails.env
rake db:drop           # Drops the database for the current Rails.env
rake db:fixtures:load  # Load fixtures into the current environment's database.
rake db:migrate        # Migrate the database
                       # (options: VERSION=x, VERBOSE=false).
rake db:migrate:status # Display status of migrations
rake db:rollback       # Rolls the schema back to the previous version
                       # (specify steps w/ STEP=n).
rake db:schema:dump    # Create a db/schema.rb file that can be portably used
                       # against any DB supported by AR
rake db:schema:load    # Load a schema.rb file into the database
rake db:seed           # Load the seed data from db/seeds.rb
rake db:setup          # Create the database, load the schema,
                       # and initialize with the seed data
rake db:structure:dump # Dump the database structure to db/structure.sql.
rake db:version        # Retrieves the current schema version number</code></pre>
					</section>
					<section>
						<h2>Associations</h2>
						<p>app/models/album.rb</p>
						<pre><code class="ruby">class Album < ActiveRecord::Base
end</code></pre>
						<p>app/models/image.rb</p>
						<pre><code class="ruby">class Image < ActiveRecord::Base
end</code></pre>
					</section>
					<section>
						<h2>Associations</h2>
						<p>app/models/album.rb</p>
						<pre><code class="ruby">class Album < ActiveRecord::Base
  has_many :images
end</code></pre>
						<p>app/models/image.rb</p>
						<pre><code class="ruby">class Image < ActiveRecord::Base
  belongs_to :album
end</code></pre>
					</section>
					<section>
						<h2>Associations</h2>
						<p>Types of associations</p>
						<ul>
							<li><tt>belongs_to</tt></li>
							<li><tt>has_one</tt></li>
							<li><tt>has_many</tt></li>
							<li><tt>has_many :through</tt></li>
							<li><tt>has_one :through</tt></li>
							<li><tt>has_and_belongs_to_many</tt></li>
						</ul>
					</section>
					<section>
						<h2>Query Interface</h2>
						<p>Query your database using:</p>
						<ul>
							<li><tt>where</tt></li>
							<li><tt>select</tt></li>
							<li><tt>group</tt></li>
							<li><tt>order</tt></li>
							<li><tt>limit</tt></li>
							<li><tt>offset</tt></li>
							<li><tt>joins</tt></li>
							<li><tt>includes</tt></li>
						</ul>
					</section>
					<section>
						<h2>Query Interface</h2>
						<p>Finding a single item</p>
						<pre><code class="ruby">Image.find(1)</code></pre>
						<div class="fragment">
							<p>Finding multiple items</p>
							<pre><code class="ruby">Image.find([1, 10])</code></pre>
							<pre><code class="ruby">Image.where("type = ? AND size > ?", params[:image_type], params[:size])</code></pre>
							<pre><code class="ruby">Image.all</code></pre>
						</div>
						<div class="fragment">
							<p>Looping through items</p>
							<pre><code class="ruby">Album.find_each do |album|
  ...
end</code></pre>
						</div>
					</section>
					<section>
						<h2>Query Interface</h2>
						<p>Chaining</p>
						<pre><code class="ruby">images = Image.where("type = ?", params[:image_type]).order('created_at DESC')</code></pre>
						<div class="fragment">
							<p>Won't send the query to the database until you use it</p>
							<pre><code class="ruby">images.each do |image|
  ...
end</code></pre>

						</div>
					</pre>
					</section>
					<section>
						<h2>Persistance</h2>
						<p>Save your model to the database</p>
						<pre><code class="ruby">image = Image.new(:url => 'http://imgs.xkcd.com/comics/nintendo_surgeon.png')</code></pre>
						<p class="fragment">Two main save methods</p>
						<div class="fragment">
							<p>save</p>
							<pre><code class="ruby">image.save</code></pre>
						</div>
						<div class="fragment">
							<p>save!</p>
							<pre><code class="ruby">image.save!</code></pre>
						</div>
					</section>
					<section>
						<h2>Validations</h2>
						<p>Validate model attributes before saving them to the database</p>
						<pre><code class="ruby">class Article < ActiveRecord::Base
  validates :headline, :presence => true
end</code></pre>
					</section>
					<section>
						<h2>Validations</h2>
						<p>Validation methods</p>
						<ul>
							<li>acceptance - boolean must be true</li>
							<li>confirmation - :key and :key_confirmation must be present and equal</li>
							<li>incluscion/exclusion - must be in or notin an array of valid values</li>
							<li>format - must match a regex</li>
							<li>length - specify min/max length</li>
							<li>numericality - must be a number</li>
							<li>uniqueness - must be unique in the database</li>
						</ul>
					</section>
					<section>
						<h2>Business Logic</h2>
						<p>Custom actions that can be performed on a model</p>
						<pre><code class="ruby">class Image < ActiveRecord::Base
  ...

  def is_large?()
    return self.width > 1024 || self.height > 1024
  end
end</code></pre>
					</section>
				</section>

				<section>
					<section>
						<h1>Controllers</h1>
						<p>Receives and responds to HTTP requests</p>
						<img src="assets/images/mvc_schematic.png">
					</section>
					<section>
						<h2>Routing</h2>
						<p>if a article goes to '/articles/12' in their browser</p>
						<div class="fragment">
							<p>config/routes.rb</p>
							<pre><code contenteditable>match "/articles/:id" => "articles#show"</code></pre>
						</div>
					</section>
					<section>
						<h2>Actions</h2>
						<p>app/controllers/articles_controller.rb</p>
						<pre><code>class ArticlesController < ApplicationController
  def show
    @article = Article.find(params[:id])
  end
end</code></pre>
						<ul>
							<li class="fragment">calls the show action</li>
							<li class="fragment">the show action finds the article</li>
							<li class="fragment">renders the app/views/articles/show.html.erb view</li>
						</ul>
					</section>
					<section>
						<h2>Params</h2>
						<p>all url parameters will be in a params hash</p>
						<div class="fragment">
							<p>config/routes.rb</p>
							<pre><code contenteditable>match "/articles/:id" => "articles#show"</code></pre>
						</div>
						<div class="fragment">
							<p>/articles/15?foo=bar</p>
							<pre><code>{ id: 15, foo: 'bar' }</code></pre>
						</div>
					</section>
					<section>
						<h2>Instance Variables</h2>
						<p>app/controllers/articles_controller.rb</p>
						<pre><code>class ArticlesController < ApplicationController
  def show
    @article = Article.find(params[:id])
  end
end</code></pre>
						<p class="fragment">
							@article is an instance variable. You can use it in other method within the same request cycle, or within the view.
						</p>
					</section>
					<section>
						<h2>Rendering A Response</h2>
						Defaults to rendering 'app/views/articles/show.html.erb'
						<ul>
							<li class="fragment">render nothing<br>
								<pre><code class="ruby" contenteditable>render nothing: true</code></pre>
							</li>
							<li class="fragment">render another action's view<br>
								<pre><code class="ruby" contenteditable>render 'edit'</code></pre>
							</li>
							<li class="fragment">render another controller and action's view<br>
								<pre><code class="ruby" contenteditable>render layout: 'reviews/edit'</code></pre>
							</li>
						</ul>
					</section>
					<section>
						<h2>Redirecting</h2>
						<p>You can redirect to another route in your app by calling 'redirect_to'</p>
						<pre><code class="ruby" contenteditable>redirect_to articles_path</code></pre>
					</section>
					<section>
						<h2>Responding to specific formats</h2>
						<p>articles_controller.rb</p>
						<pre><code class="ruby" contenteditable>class ArticlesController < ApplicationController
  def index
    @articles = Article.all
    respond_to do |format|
      format.html # index.html.erb
      format.xml { render :xml => @articles}
      format.json { render :json => @articles}
    end
  end
end</code></pre>
					</section>
					<section>
						<h2>Filters</h2>
						<p>Before Filters</p>
						<pre><code>class ApplicationController < ActionController::Base
  before_filter :require_login

  private

  def require_login
    unless logged_in?
      flash[:error] = "You must be logged in to access this section"
      redirect_to new_login_url # halts request cycle
    end
  end

  def logged_in?
    !!current_user
  end
end</code></pre>
					<p class="fragment">Around Filters, After Filters</p>
					</section>
					<section>
						<h2>Filters</h2>
						<p>Skipping Filters</p>
							<pre><code class="ruby">class ArticlesController < ApplicationController
  skip_before_filter :require_login, :only => [:new, :create]
end</code></pre>
					</section>
					<section>
						<h2>Application Controller</h2>
						<p>The controller all other controllers should inherit from</p>
						<pre><code>class ApplicationController < ActionController::Base
  def get_user
    User.find(session[:user_id])
  end
end</code></pre>
						<div class="fragment">
						<p>articles_controller.rb</p>
							<pre><code class="ruby">class ArticlesController < ApplicationController
  def create
    @article = Article.new(params[:article])
    @article.user = get_user
    ...
  end
end</code></pre>
						</div>
					</section>
				</section>

				<section>
					<section>
						<h1>Views</h1>
						The HTML, JSON, or XML representation of your data
					</section>
					<section>
						<h2>ERB: Ruby in Your HTML</h2>
						<p>Controller:</p>
						<pre><code contenteditable>def index
  @articles = [ { name: 'foo' }, { name: 'bar' } ]
end</code></pre>
						<p>View:</p>
						<pre><code contenteditable>&lt;ul&gt;
  &lt;% @articles.each do |article| %&gt;
    &lt;li&gt;&lt;%= article.name %&gt;&lt;/li&gt;
  &lt;% end %&gt;
&lt;/ul&gt;</code></pre>
						<div class="fragment">
							<p>Result:</p>
							<pre><code contenteditable>&lt;ul&gt;
  &lt;li&gt;foo&lt;/li&gt;
  &lt;li&gt;bar&lt;/li&gt;
&lt;/ul&gt;</code></pre>
						</div>
					</section>
					<section>
						<h2>Layouts</h2>
						<p>Global templates for your views</p>
						<p>can define the layout for a controller response by doing:</p>
						<pre><code class="ruby" contenteditable>class PopupController < ApplicationController
	layout :popup</code></pre>
						</p>or</p>
						<pre><code class="ruby" contenteditable>def index
  ...
  render :layout => 'popup'</code></pre>
						<p>requires a yield to an unnamed block</p>
						<pre><code class="ruby erb" contenteditable>&lt%= yield %&gt;</code></pre>
					</section>
					<section>
						<h2>content_for and yield</h2>
						<p>yield in your layouts</p>
						<pre><code class="html" contenteditable>&lt;html&gt;
  &lt;head&gt;
    &lt;%= yield :head %&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;%= yield %&gt;
  &lt;/body&gt;
&lt;/html&gt;</code></pre>
					</section>
					<section>
						<h2>content_for and yield</h2>
						<p>use content_for in your views</p>
						<pre><code class="html" contenteditable>&lt;% content_for :head do %&gt;
  &lt;title&gt;A simple page&lt;/title&gt;
&lt;% end %&gt;

&lt;p&gt;Hello, Rails!&lt;/p&gt;</code></pre>
						<div class="fragment">
							<p>result:</p>
							<pre><code class="html">&lt;html&gt;
  &lt;head&gt;
    &lt;title&gt;A simple page&lt;/title&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p&gt;Hello, Rails!&lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;</code></pre>
						</div>
					</section>
					<section>
						<h2>Partials</h2>
						<p>Break your view up into chunks</p>
						<p>index.html.erb</p>
						<pre><code contenteditable>&lt;ul&gt;
  &lt;% @articles.each do |article| %&gt;
    &lt;li&gt;
      &lt;%= article.name %&gt;&lt;br&gt;
      &lt;%= article.description %&gt;
    &lt;/li&gt;
  &lt;% end %&gt;
&lt;/ul&gt;</code></pre>
						<p>show.html.erb</p>
						<pre><code contenteditable>&lt;div&gt;
  &lt;%= @article.name %&gt;&lt;br&gt;
  &lt;%= @article.description %&gt;
&lt;/div&gt; </code></pre>
					</section>
					<section>
						<p>_article.html.erb</p>
						<pre><code contenteditable>&lt;%= article.name %&gt;&lt;br&gt;
&lt;%= article.description %&gt;</code></pre>
						<div class="fragment">
							<p>index.html.erb</p>
							<pre><code contenteditable>&lt;ul&gt;
  &lt;% @articles.each do |article| %&gt;
    &lt;li&gt;
      &lt;%= render partial: 'article', object: article %&gt;
    &lt;/li&gt;
  &lt;% end %&gt;
&lt;/ul&gt;</code></pre>
							<p>show.html.erb</p>
							<pre><code contenteditable>&lt;ul&gt;
  &lt;%= render partial: 'article', object: @article %&gt;
&lt;/ul&gt;</code></pre>
						</div>
						<div class="fragment">
							<p>or</p>
							<pre><code contenteditable>&lt;ul&gt;
  &lt;%= render partial: 'article', locals: { article: @article } %&gt;
&lt;/ul&gt;</code></pre>
						</div>
					</section>
					<section>
						<h2>HAML</h2>
						<p>index.html.haml</p>
						<pre><code contenteditable>%ul#article-list.articles
  - @objects.each do |object|
    %li.article= render partial: 'article', object: object

.right.column
  = @article.name</code></pre>
						<div class="fragment">
							<p>Result</p>
							<pre><code contenteditable>&lt;ul id=&quot;article-list&quot; class=&quot;articles&quot;&gt;
  &lt;li class=&quot;article&quot;&gt;foo&lt;/li&gt;
  &lt;li class=&quot;article&quot;&gt;bar&lt;/li&gt;
&lt;/ul&gt;

&lt;div class=&quot;right column&quot;&gt;
  Ryan
&lt;/div&gt;</code></pre>
						</div>
					</section>
				</section>

				<section>
					<section>
						<h1>Helpers</h1>
						Reusable, testable view logic
					</section>
					<section>
						<h2>ActionView::Helpers</h2>
						<ul>
							<li>AssetTagHelper</li>
							<li>DateHelper</li>
							<li>FormHelper</li>
							<li>JavaScriptHelper</li>
							<li>TagHelper</li>
							<li>TextHelper</li>
							<li>UrlHelper</li>
						</ul>
					</section>
					<section>
						<h2>Custom Helper Methods</h2>
						<p>app/helpers/articles_helper.rb</p>
						<pre><code class="ruby">module ArticlesHelper
  def link_to_article(article, *args)
    url = "http://www.ign.com/images/articles/#{article.metadata.slug}"
    link_to url, url, *args
  end
end</code></pre>
						<p>Usage:</p>
						<pre><code class="erb"><%= link_to_article @article, class: 'article-link' %></code></pre>
					</section>
					<section>
						<h2>Exposing Controller Methods as Helpers</h2>
						<p>app/controllers/application_controller.rb</p>
						<pre><code class="ruby">class ApplicationController < ActionController::Base
  helper_method :access?

  def access?
    return !!current_user
  end
end
</code></pre>
						<p>Usage:</p>
						<pre><code class="erb ruby"><% if access? %>
  ...
<% end %></code></pre>
					</section>
				</section>

				<section>
					<section>
						<h1>Assets</h1>
						JavaScript, CSS, and Images
					</section>
					<section>
						<h2>Sprockets and the Asset Pipeline</h2>
						<ul>
							<li>Introduced in Rails 3.1</li>
							<li>
								Loads js, css, and image files from:
								<ul>
									<li>Gems</li>
									<li>app/assets</li>
									<li>lib/assets</li>
									<li>vendor/assets</li>
								</ul>
							</li>
							<li>Compiles SCSS, CoffeeScript, erb, etc. to appropriate files</li>
							<li>Must use helpers to include assets in your views</li>
							<li>Compiles and minifies css and js for production environments</li>
						</ul>
					</section>
					<section>
						<h2>JavaScript and CSS in Your Views</h2>
						<pre><code><%= stylesheet_link_tag "application" %>
<%= javascript_include_tag "application" %></code></pre>
					</section>
					<section>
						<h2>Images</h2>
						<p>In views</p>
						<pre><code><%= image_tag "ign.png" %></code></pre>
						<p>In JavaScript and ERB</p>
						<p>application.js.erb</p>
						<pre><code class="javascript">$('#logo').attr({
  src: "<%= asset_path('logo.png') %>"
});</code></pre>
					</section>
					<section>
						<h2>Images</h2>
						<p>In CSS and ERB</p>
						<p>application.css.erb</p>
						<pre><code>.class { background-image: url(<%= asset_path 'image.png' %>) }</code></pre>
						<p>In SASS</p>
						<p>application.css.scss</p>
						<pre><code>.class { background-image: image-url('image.png') }</code></pre>
					</section>
					<section>
						<h2>Manifest Files</h2>
						<p>app/assets/javascripts/application.js</p>
						<pre><code class="javascript">//= require jquery
//= require jquery_ujs
//= require self
//= require_tree .

...</code></pre>
						<div class="fragment">
							<p>app/views/layouts/application.html.erb</p>
							<pre><code><%= javascript_include_tag "application" %></code></pre>
						</div>
						<div class="fragment">
							<p>In development:</p>
							<pre><code>&lt;script src=&quot;/assets/jquery.js?body=1&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;/assets/jquery_ujs.js?body=1&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;/assets/application.js?body=1&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;/assets/albums.js?body=1&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;</code></pre>
						</div>
					</section>
					<section>
						<h2>Compiling JavaScript and CSS</h2>
						<p>On deployment:</p>
						<pre><code class="no-highlight">$ rake assets:precompile</code></pre>
						<div class="fragment">
							<p>app/views/layouts/application.html.erb</p>
							<pre><code><%= javascript_include_tag "application" %></code></pre>
						</div>
						<div class="fragment">
							<p>In production:</p>
							<pre><code>&lt;script src=&quot;/assets/application-9a0f4baf90c2de98350f4dbb.js&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;</code></pre>
						</div>
					</section>
				</section>

				<section>
					<section>
						<h1>Routes</h1>
						URLs
					</section>
					<section>
						<h2>One-off Routes</h2>
						<pre><code>match "/articles/:id" => "articles#show"</code></pre>
						<p>Routes to:</p>
						<pre><code>GET /articles/17</code></pre>
					</section>
					<section>
						<h2>rake routes</h2>
						<pre><code class="no-highlight">$ rake routes
            all_albums GET    /albums/all(.:format)                  albums#all
  batch_destroy_albums DELETE /albums/batch_destroy(.:format)        albums#batch_destroy
     batch_edit_albums GET    /albums/batch_edit(.:format)           albums#batch_edit
   batch_update_albums POST   /albums/batch_update(.:format)         albums#batch_update
         search_albums GET    /albums/search(.:format)               albums#search
thumbnail_update_album PUT    /albums/:id/thumbnail_update(.:format) albums#thumbnail_update
                albums GET    /albums(.:format)                      albums#index
                       POST   /albums(.:format)                      albums#create
             new_album GET    /albums/new(.:format)                  albums#new
            edit_album GET    /albums/:id/edit(.:format)             albums#edit
                 album GET    /albums/:id(.:format)                  albums#show
                       PUT    /albums/:id(.:format)                  albums#update
                       DELETE /albums/:id(.:format)                  albums#destroy</code></pre>
						<div class="fragment">
							<p>Routing helpers</p>
							<pre><code><%= link_to 'All Images', all_albums_path %></code></pre>
						</div>
					</section>
					<section>
						<h2>RESTful Resources</h2>
						<pre><code>resources :albums</code></pre>
						<p>Creates the following routes:</p>
						<pre><code class="no-highlight">                albums GET    /albums(.:format)                      albums#index
                       POST   /albums(.:format)                      albums#create
             new_album GET    /albums/new(.:format)                  albums#new
            edit_album GET    /albums/:id/edit(.:format)             albums#edit
                 album GET    /albums/:id(.:format)                  albums#show
                       PUT    /albums/:id(.:format)                  albums#update
                       DELETE /albums/:id(.:format)                  albums#destroy</code></pre>
					</section>
					<section>
						<h2>Custom Resource Paths</h2>
						<pre><code>resources :albums do
  collection do
    get 'all'
    delete 'batch_destroy'
    get 'batch_edit'
    post 'batch_update'
    get 'search'
  end
  member do
    put 'thumbnail_update'
  end
end</code></pre>
						<p>Adds the following routes:</p>
						<pre><code class="no-highlight">            all_albums GET    /albums/all(.:format)                  albums#all
  batch_destroy_albums DELETE /albums/batch_destroy(.:format)        albums#batch_destroy
     batch_edit_albums GET    /albums/batch_edit(.:format)           albums#batch_edit
   batch_update_albums POST   /albums/batch_update(.:format)         albums#batch_update
         search_albums GET    /albums/search(.:format)               albums#search
thumbnail_update_album PUT    /albums/:id/thumbnail_update(.:format) albums#thumbnail_update</code></pre>
					</section>
				</section>

				<section>
					<section>
						<h1>Rails at IGN</h1>
						<p>Rails in a Service Oriented World</p>
						<img src="assets/images/ign.png" width="350">
					</section>
					<section>
						<h2>No ActiveRecord</h2>
						<p>Just plain old ruby objects</p>
						<pre><code class="ruby">class Image
  ...
end</code></pre>
					</section>
					<section>
						<h2>Faraday</h2>
						<p>HTTP gem</p>
						<pre><code class="ruby">def self.setup_faraday
  conn = Faraday.new(:url => "http://api.ign.com/image/v3/images") do |conn|
    conn.request :multipart
    conn.request :json
    conn.request :url_encoded
    conn.response :logger, Rails.logger

    conn.response :json, :content_type => /\bjson$/
    conn.adapter :net_http
  end

  conn.headers[:cache_control] = 'no-cache'
  conn
end</code></pre>
						<pre><code class="ruby">def find(id)
  conn = setup_faraday
  parse_response(conn.get(id.to_s, :fresh => 'true')) do |response|
    self.new(response)
  end
end</code></pre>
					</section>
					<section>
						<h2>WebMock</h2>
						<p>Stubs out all HTTP requests</p>
						<pre><code class="ruby">describe 'self#destroy' do
  before(:each) do
    stub_request(:delete, /#{V3_API_URL}\/images\/.*/)
  end

  it 'calls the delete api with the correct id' do
    Image.destroy('1234')
    a_request(:delete, /#{V3_API_URL}\/images\/1234\?.*/).should have_been_made
  end

  ...

end</code></pre>
					</section>
				</section>

				<section>
					<h1>Resources</h1>
					<a href="http://guides.rubyonrails.org/index.html">Rails Guides</a><br>
					<a href="http://ruby.railstutorial.org/ruby-on-rails-tutorial-book">Rails Tutorial</a><br>
					<a href="http://api.rubyonrails.org/">Rails Documentation</a><br>
					<a href="http://rubyrogues.com/">Ruby Rogues Podcast</a><br>
					<a href="http://rubyweekly.com/">Ruby Weekly Newsletter</a><br>
					<a href="http://www.rubyflow.com/">RubyFlow</a><br>
				</section>

				<section>
					<h1>Questions</h1>
				</section>
			</div>

			<!-- The navigational controls UI -->
			<aside class="controls">
				<a class="left" href="#">&#x25C4;</a>
				<a class="right" href="#">&#x25BA;</a>
				<a class="up" href="#">&#x25B2;</a>
				<a class="down" href="#">&#x25BC;</a>
			</aside>

			<!-- Displays presentation progress, max value changes via JS to reflect # of slides -->
			<div class="progress"><span></span></div>

		</div>

		<!-- Optional libraries for code syntax highlighting and classList support in IE9 -->
		<script src="lib/js/head.min.js"></script>

		<script>
			// Load the main reveal.js script
			head.js( 'js/reveal.js', function() {
				// Parse the query string into a key/value object
				var query = {};

				location.search.replace( /[A-Z0-9]+?=(\w*)/gi, function(a) {
					query[ a.split( '=' ).shift() ] = a.split( '=' ).pop();
				} );

				// Fires when a slide with data-state=customevent is activated
				Reveal.addEventListener( 'customevent', function() {
					console.log( '"customevent" has fired' );
				} );

				// Fires each time a new slide is activated
				Reveal.addEventListener( 'slidechanged', function( event ) {
					// event.previousSlide, event.currentSlide, event.indexh, event.indexv
				} );

				// Full list of configuration options available here:
				// https://github.com/hakimel/reveal.js#configuration
				Reveal.initialize({
					controls: true,
					progress: true,
					history: true,
					rollingLinks: false,

					theme: query.theme || 'blackout', // default/neon/beige
					transition: query.transition || 'default' // default/cube/page/concave/linear(2d)
				});
			} );

			// Load third party scripts
			head.js( 'lib/js/classList.js' );
			head.js( 'lib/js/highlight.js', function() {
				// Fire off syntax highlighting for potential code samples in the slides
				hljs.tabReplace = '  ';
				hljs.initHighlightingOnLoad();
			} );

			// If we're runnning the notes server we need to include some additional JS
			// TODO Is there a better way to determine if we're running the notes server?
			if( window.location.host === 'localhost:1947' ) {
				head.js( 'socket.io/socket.io.js', 'plugin/speakernotes/client.js' );
			}
		</script>

	</body>
</html>
